*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{

    background-color: #C4C4C4;
    width: 100%;
    height: 100vh;
    padding-top: 50px;

}
.calBody{
    width: -moz-fit-content;
    border-radius: 10px;
    background-color: #252525;
    width: fit-content;
   
}

  
 
  

input{
    letter-spacing: 2px;
    text-align: right;
   font-size: xx-large;
   color: antiquewhite;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #063131;

}



.btn{

  width: 70px;
  height: 70px;
  font-size: larger;

  
}
.equal{
    width: 100%;
    font-size: x-large;
    
}
.btn:hover {

   font-weight: 900;
   font-size: xx-large;
  }
